ul {
    list-style-type: none;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    line-height: 40px;
  }
  
  form input {
    width: 100%;
  }
  
  form textarea {
    height: 100px;
    width: 100%;
  }
  
  form input[type=submit] {
    width: 50%;
    margin-top: 10px;
  }
  form input[type=reset] {
    width: 50%;
    margin-top: 10px;
  }
